:root {
    --LIGHT_BLUE: #1A94D5;
    --DARK_BLUE: #253661;
    --RED: #E6166F;
    --GREEN: #7AB92A;
    --ORANGE: #F6A822;
    --WHITE: #F5F5F5;
    background-color: var(--DARK_BLUE);
    color: white;
    font-family: Jua, sans-serif;
}

body,html {
    margin: 0;
    padding: 0;
}

* {
    font-family: Jua, sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* Selecting a room to create or join */
#join_class, #new_class, .button {
    background-color: var(--WHITE);
    padding: 25px;
    border-radius: 10px;
    font-size: larger;
    transition: all 300ms ease-out;
}

#join_class:hover, #new_class:hover, a:hover, .button:hover {
    cursor: pointer;
    transform: scale(1.125);
}

#button_classroom_wrapper {
    min-height: calc(100vh - 60px); /* 100% page height - height of h1 padding*/
}

/* Create New Question */
textarea {
    border-radius: 10px;
    height: 15vh;
    width: 50vw;
    margin: 25px;
    padding: 25px;
    max-width: 90%;
    max-height: 50vh;
    min-height: 75px;
    min-width: 150px;
}

table {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#questions_and_answers, 
#questions_and_answers td, 
#questions_and_answers th {
    border: 1px solid var(--WHITE);
    border-collapse: collapse;
    table-layout: fixed;
    width: 75%;
}

#questions_and_answers td {
    padding: 15px;
    word-wrap: break-word;
}

#questions_and_answers .deletion {
    text-align: center;
    border-radius: 0;
}

#questions_and_answers .deletion:hover, #modal .button:hover {
    transform: scale(0.75);
}

#modal {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background-color: var(--LIGHT_BLUE);
}

#modal h2 { color: var(--WHITE); }

#close_modal, #submit_modal { width: max-content;}




/* CONSTANTS */
.logo { color: var(--GREEN); padding: 15px; }
.red { color: var(--RED); }
.light-blue { color: var(--LIGHT_BLUE); }
.orange { color: var(--ORANGE); }
.flex-row { display: flex;}
.flex-col { display: flex; flex-direction: column;}
.flex-center { justify-content: center; }
.gap { gap: 30px; }
.pad { padding: 25px; }
.separate { justify-content: space-between;}
.bg-g { background-color: var(--GREEN); color: var(--WHITE); }
.bg-o { background-color: var(--ORANGE); color: var(--WHITE); }
.bg-r { background-color: var(--RED); color: var(--WHITE); }
